fastapi==0.108.0
langchainhub==0.1.15
llama-index-core==0.10.11.post1
llama-index-embeddings-azure-openai==0.1.6
llama-index-embeddings-text-embeddings-inference==0.1.2
llama-index-llms-azure-openai==0.1.4
llama-index-llms-llama-cpp==0.1.3
llama-index-llms-openai==0.1.6
llama-index-multi-modal-llms-azure-openai==0.1.3
llama-index-postprocessor-rankgpt-rerank==0.1.3
llama-index-readers-file==0.1.5
llama-index-readers-web==0.1.6
llama-index==0.10.11
nebula3-python==3.5.0
neo4j==5.17.0
pika==1.3.2
pillow==10.2.0
poppler-utils==0.1.0
pydub==0.25.1
PyMuPDF==1.23.22
pypdf==4.0.1
pytest-playwright==0.4.4
python-magic==0.4.27
qdrant-client==1.7.3
ragas==0.1.6
scikit-learn==1.4.0
seaborn==0.13.2
trulens-eval==0.27.0
uvicorn[standard]==0.29.0
wikipedia==1.4.0
duckdb==0.10.2
openai-whisper==20231117